extends layout

block content
  section(class="container-fluid content-wrapper all-platforms")
    div(class="container")
        div(class="row")
            div(class="col-12 ")
                h1 All Games
                ul.game-list.all-list.ps-0
                    each game in game_list
                        li.mb-1 
                            a(href=game.url) #{game.title} 
                            | (#{game.platform.name})
                            if game.category
                                    each category, index in game.category
                                        if game.category.length == 1
                                            span [#{category.name}]
                                        else if index == 0
                                            span [#{category.name},&nbsp;
                                        else if index == game.category.length - 1
                                            span #{category.name}]

                    else
                        li There are no games.
     
