extends layout

block content
  section(class="container-fluid content-wrapper platform-delete")
    div(class="container")
        div.pb-4(class="row")
            div(class="col-12 ")
                h1.platform-delete-title.detail-title.pb-3 Delete #{platform.name}
                if game_list.length > 0
                    p #[strong Delete these games first before deleting this platform]
                    ul.all-list.ps-0
                        each game in game_list
                            li.mb-1 
                                a(href=game.url) #{game.title} 
                                | (#{game.platform.name})

                else
                    p Are you sure you want to delete this platform?
                    form(action="" method="POST")
                        div.form-group
                            input#platformid.form-control(type="hidden" name="platformid" value=platform._id required)
                        button.btn.btn-primary(type="submit") Delete
                

     
